.main-nav {
  background: $accent;
  font-size: 1.2rem;
  overflow: hidden;

// full screen navigation
  position: absolute;
  top: 0;
  right: 0;
  left: 100%;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;

    @media(min-width: 725px) {
      flex-direction: row;
      height: auto;
    }

  }

  li {
  // flex-grow flex-shrink flex-basis
    flex: 1 1 auto;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    display: flex;

    @media(min-width: 725px) {
      border: none;
    }

  }

  a {
    text-decoration: none;
    color: $text-inverse;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media(min-width: 725px) {
      justify-content: flex-end;
    }

    &:hover {
      background: rgba(0, 0, 0, .10);

      @media(min-width: 725px) {
        background: none;
        color: darken($accent, 3%);
      }

    }

  }

  @media(min-width: 725px) {
    position: relative;
    flex: auto;
    background: none;
    margin-top: 1em;
    margin-left: 2em;
    left: 0;
  }

  // Nav open
  &.is-open {
    transition: all ease-in-out 400ms;
    left: 0;
  }

}



// Hamburger Menu
.nav-toggle {
  display: block;
  padding: 1em;
  position: absolute;
  right: 1em;
  top: 1em;
  cursor: pointer;

  @media(min-width: 725px){
    display: none;
  }

}

.hamburger, .hamburger::before, .hamburger::after {
  content: '';
  display: block;
  width: 2em;
  height: 3px;
  background: $white;
}

.hamburger::before {
  transform: translateY(-8px);
}

.hamburger::after {
  transform: translateY(5px);
}

// Convert Hamburger to X
.hamburger.is-open {
  transform: rotate(45deg);

  &::after {
    transform: rotate(-90deg);
  }

  &::before {
    display: none;
  }

}
